img[alt='Card sort correlation percentages'] { width: 240px; };
img[alt='Snapshot of the dendrogram results'] { width: 240px; };
img[alt='Tree test pass/fail percentages'] { width: 240px; };
img[alt='Original financial site mockup'] { width: 240px; };
img[alt='UCM finance site mockup'] { width: 240px; };
img[alt='Final finance site mockup'] { width: 240px; };
img[alt='Original Office of the Bursar site'] { width: 240px; };
img[alt='Redesigned Office of the Bursar site'] { width: 240px; };
img[alt='Original Finance and Administration site'] { width: 240px; };
img[alt='Redesigned Finance and Administration site'] { width: 240px; };
img[alt='Original Finance site'] { width: 240px; };
img[alt='Redesigned Finance site'] { width: 240px; };